@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Yönetim Paneli</h2>

<p>Buradan haberleri ve kategorileri yönetebilirsiniz.</p>

<ul>
    <li><a href="/Admin/CategoryList">Kategoriler</a></li>
    <li><a href="/Admin/NewsList">Haberler</a></li>
</ul>
