@{
    Layout = "_Layout";
    ViewData["Title"] = "Son Dakilka  Haberleri";
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"] Yönetim Sayfası</h1>
    <p>Burada son dakika kategorisine ait haberler listelenecek.</p>
</div>